// Background is a Photo by Evi Radauscher on Unsplash
// https://unsplash.com/@eviradauscher
body {
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
