<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Comienzo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

  </head>
  <body>
    <!--[if lt IE 8]>
      <h2> You are using an <strong>outdated</strong> browser.
      <em>Please</em> upgrade your browser
      </h2>
    <![endif]-->
    <h1>Hello {{ @name }}!</h1>
    <script src="{{@BASE}}/ui/dist/bundle.js"></script>
  </body>
</html>
